{% extends 'email/base.html' %}
{% block content %}
<td style="padding: 20px; background-color: #ffffff; font-size: 16px; line-height: 1.6;">
    <p>Hello {{ full_name }},</p>
    <p>You requested a password reset. Click the button below to reset your password:</p>
    <p style="text-align: left;">
        <a href="{{ url_with_token }}" style="background-color: #007BFF; color: white; padding: 12px 20px; text-decoration: none; border-radius: 5px; font-size: 16px;">
            Reset Password
        </a>
    </p>
    <p>If you didn’t request this, you can ignore this email.</p>
</td>
{% endblock %}
